#kubernetes
**/secrets/
**/Chart.lock

#quarto
/.quarto/
/docs/

#Python/jupyter
**/.ipynb_checkpoints/
**/__pycache__/
**/cache_pretrained/
**/venv/


#frontend/node/react
**/node_modules/
**/.cache/
**/.parcel-cache/

**/lightning_logs/

/widgets/**/dist/

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/node_modules
**/.pnp

**/target/
**/checkpoint/

**/target/

**/.bloop



# Rust/WASM 
**/Cargo.lock
**/target/
**/pkg/

**/*.rs.bk
**/bin/

**/wasm-pack.log


#other
**/.DS_Store
**/.env

**/data_cache.json

**/saved_model/

**/persist/

/environment/
