#kubernetes
**/secrets/
**/Chart.lock

#quarto
/.quarto/
/docs/

#Python/jupyter
**/.ipynb_checkpoints/
**/__pycache__/
**/cache_pretrained/
**/venv/

**/target/
**/checkpoint/

**/target/

**/.bloop



# Rust/WASM 
**/Cargo.lock
**/target/
**/pkg/

**/*.rs.bk
**/bin/

**/wasm-pack.log

#other
**/.DS_Store
**/.env
